click==8.0.3
colorama==0.4.4
et-xmlfile==1.1.0
Flask==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.3
lxml==4.9.1
MarkupSafe==2.0.1
numpy==1.22.1
opencv-contrib-python==4.5.5.62
opencv-python==4.5.5.62
openpyxl==3.0.9
python-docx==0.8.11
toml==0.10.2
waitress==2.0.0
Werkzeug==2.0.2
