<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venis Prajapati's Auto grading Software</title>

    {% block head %} {% endblock %}

</head>

<body>

    {% block body %} {% endblock %}

    <footer>

        <p>© 2021 Venis Prajapati's Auto grading Software is under MIT License. <a
                href="https://github.com/venisprajapati/vps-auto-grading-software/blob/main/LICENSE">license</a></p>

    </footer>

</body>

</html>