{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="static/css/main.css">

{% endblock %}

{% block body %}

<div>

    <h1 class="v1">
    
        Venis Prajapati's Auto grading Software 
    
    </h1>


    <div id="frame">


        <a style="float: right;" class="back-link" href="/">Main page</a>

        <div id="frame">

            <main class="main-0">About Software</main>

            <hr>

            <p class="main-1">
                Name: vps-auto-grading-software
                &emsp; &emsp; &emsp;
                Github: <a href="https://github.com/venisprajapati/vps-auto-grading-software">vps-auto-grading-software</a>
                &emsp; &emsp; &emsp;
                License: <a href="https://github.com/venisprajapati/vps-auto-grading-software/blob/main/LICENSE">MIT License</a>
            </p>
            <p class="main-1">
                Important Links:
                <a href="https://github.com/venisprajapati/vps-auto-grading-software">Github</a>
                &emsp; &emsp;
                <a href="https://github.com/venisprajapati/vps-auto-grading-software/blob/main/User-guide.pdf">User guide</a>
                &emsp; &emsp;
                <a href="https://medium.com/@venisprajapati2102/about-vps-auto-grading-software-5b611ffe6c74">Blog</a>
                &emsp; &emsp;
                <a href="https://github.com/venisprajapati/vps-auto-grading-software/issues">Issue</a>
            </p>

        </div>

        <div id="frame">

            <main class="main-0">Purpose</main>

            <hr>

            <p class="main-1">

                Open-source web-browser based general purpose software to make bubble-omr sheet checking, the grading
                task easy and efficient, that runs on localhost using python (virtual environment).

            </p>

        </div>

        <div id="frame">
            <main class="main-0">Creator's Profile</main>

            <hr>

            <p class="main-1">
                Name: Venis Prajapati
                &emsp; &emsp;
                Github: <a href="http://www.github.com/venisprajapati">venisprajapati</a>
                &emsp; &emsp;
                LinkedIn: <a href="https://www.linkedin.com/in/venis-prajapati-a12b1019b">venis-prajapati</a>
                &emsp; &emsp;
                Medium: <a href="https://medium.com/@venisprajapati2102">@venisprajapati2102</a>
            </p>
        </div>


    </div>

</div>

{% endblock %}